form input[type='submit'], form input[type='button'], form input[type='text'], form input[type='password'] {
  -webkit-appearance: none;
	border: 1px solid rgba(0,0,0,.1);
	padding: 4px 8px;
}

form input[type='text'], form input[type='password']{
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	font-size: 11px;
}

form input[type='text']:focus, form input[type='password']:focus{
	border: 1px solid pink;
}

form input[type='submit'], form input[type='button'] {
	background-color: #f5f5f5;
    color: #444;
    font-weight: bold;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 11px;
}

form input[type='submit']:hover, form input[type='button']:hover {
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
